@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  background-color: #020617; /* Slate 950 */
  color: #e2e8f0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bef264;
}

/* Utilities */
.text-balance {
  text-wrap: balance;
}
.glass-panel {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

